.component-module-card {
    width: 300px;
    max-width: 300px;
    margin: 10px;

    .card-title {
        cursor: pointer;
        transition: color 0.3s;

        h5, p {
            color: inherit;
            user-select: none;
        }

        &:hover {
            color: $color-caribbean-green;
        }
    }

    .link-container {
        display: flex;
        flex-direction: column;
    }
}
