.page-recover-password,
.page-recover-password-confirm {
    .au-card {
        margin-bottom: $space-l;

        .body {
            overflow: hidden;

            .info {
                text-align: justify;
                margin-bottom: 16px;
            }

            .password-help {
                ul {
                    margin-block-start: 5px;
                    padding-left: 30px;

                    li {
                        transition: color 0.3s;

                        &.has-error {
                            color: $color-radical-red;
                        }

                        &.success {
                            color: $color-caribbean-green;
                        }
                    }
                }
            }
        }

        .btn-send {
            margin: 10px 0;
        }
    }
}
